.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#webcam,
#video {
  height: 400px;
  width: 600px;
}

#canvas {
  border: solid black 1px;
}

